USE [master]
GO
/****** Object:  Database [DBMacropay]    Script Date: 17/07/2022 04:03:17 p. m. ******/
CREATE DATABASE [DBMacropay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMacropay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBMacropay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBMacropay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBMacropay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMacropay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMacropay]
GO
/****** Object:  Table [dbo].[books]    Script Date: 17/07/2022 04:03:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] NULL,
	[title] [varchar](250) NULL,
	[year] [int] NULL,
	[author] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pruebaX]    Script Date: 17/07/2022 04:03:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pruebaX](
	[id] [varchar](200) NULL,
	[name] [varchar](200) NULL,
	[phone] [varchar](50) NULL,
	[addressLines] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ratings]    Script Date: 17/07/2022 04:03:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ratings](
	[reviewer_id] [int] NULL,
	[book_id] [int] NULL,
	[rating] [int] NULL,
	[rating_date] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviewers]    Script Date: 17/07/2022 04:03:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviewers](
	[id] [int] NULL,
	[name] [varchar](250) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[books] ([id], [title], [year], [author]) VALUES (101, N'A Tale Of
Two Cities', 1859, N'Charles
Dickens')
INSERT [dbo].[books] ([id], [title], [year], [author]) VALUES (102, N'The Lord of
the Rings', 1955, N'J. R. R.
Tolkien')
INSERT [dbo].[books] ([id], [title], [year], [author]) VALUES (103, N'The Hobbit', 1937, NULL)
GO
INSERT [dbo].[pruebaX] ([id], [name], [phone], [addressLines]) VALUES (N'ac2668fd-f4b5-4175-8956-d8f1920f1324', N'Blaze Dare', N'842.152.8355', N'4438 Korey Centers,Lake Carolannetown,Bangladesh')
INSERT [dbo].[pruebaX] ([id], [name], [phone], [addressLines]) VALUES (N'cf63ff0d-ecaa-448d-9456-a225a44c3159', N'Jessie McGlynn MD', N'1-759-906-8434 x3167', N'5077 Mckenna Forges,Schroederborough,Switzerland')
INSERT [dbo].[pruebaX] ([id], [name], [phone], [addressLines]) VALUES (N'6daf7db3-69f4-437b-94fa-eb40aff91977', N'Leila Morar', N'1-913-186-1870', N'483 Yadira Highway,Reynoldsmouth,Georgia')
GO
INSERT [dbo].[ratings] ([reviewer_id], [book_id], [rating], [rating_date]) VALUES (15201, 101, 2, CAST(N'2015-02-11' AS Date))
INSERT [dbo].[ratings] ([reviewer_id], [book_id], [rating], [rating_date]) VALUES (15201, 101, 4, CAST(N'2015-06-16' AS Date))
INSERT [dbo].[ratings] ([reviewer_id], [book_id], [rating], [rating_date]) VALUES (53202, 103, 4, NULL)
GO
INSERT [dbo].[reviewers] ([id], [name]) VALUES (15201, N'Joe Martinez')
INSERT [dbo].[reviewers] ([id], [name]) VALUES (53202, N'Alice Lewis')
INSERT [dbo].[reviewers] ([id], [name]) VALUES (44203, N'John Smith')
GO
/****** Object:  StoredProcedure [dbo].[spd_Contacto]    Script Date: 17/07/2022 04:03:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
exec spd_Contacto
	@id='3bf6353d-9142-4f32-bbe0-edc52b8a4eb0'
	select * from [dbo].[pruebaX]

*/


create procedure [dbo].[spd_Contacto]
	@id varchar(200)
as
declare @result int = 0
--funtion 1|0
--valida si el Regdelete es 0
--update a 1


if not exists(select top 1 1 from [dbo].[pruebaX] where id=@id) 
begin 
    set @result=2
end else
begin
    DELETE FROM [dbo].[pruebaX] where id=@id

set @result=1
end



/*
>1-Exito
>2-no exists
*/

select @result as Exito

GO
USE [master]
GO
